###> compiled ###
/dist
###< compiled ###

###> dependencies ###
/node_modules
###< dependencies ###

###> docker ###
.mysql-data/
###< docker ###

###> environment ###
.env
###< environment ###

###> logs ###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
###< logs ###

###> os ###
.DS_Store
###< os ###

###> tests ###
/coverage
/.nyc_output
###< tests ###

###> ides/editors ###
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
###< ides/editors ###
